<!DOCTYPE html>


<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>GAMESTOP GO BRRRRRRRRR</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

</head>

<body>
<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class ="container">
        <div class = "navbar-header">
            <a class = "navbar-brand" href = "/">
                <h1>
                    <style> h1 {text-align: center; padding: 0px; margin-left: auto; margin-top: 0px; margin-right: 10px;} </style>
                    Gamestonk
                </h1>
            </a>
            <a class = "navbar-center" href = "/"> <style> {position: center  }</style>
                <img src = "http://127.0.0.1:8080/wsb.png" width = "70" height = "70" class="center">
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li> <a href = "/Home"> Home </a></li>
            <li> <a href="/About">About</a> </li>
            <li> <a href="/Log In">Log In</a> </li>

        </ul>



        <style>
            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        </style>
        <div class = "brr">
        <ul> <style> ul { margin-right: 10px; padding: 0px; text-align: right;} </style>

            Click and Drag the Mouse to Move the Ball
        </ul>
        </div>

        <audio id="sound1" src="http://127.0.0.1:8080/im-not-leaving-im-not-fucking-leaving.mp3" preload="auto"></audio>
        <button onclick="document.getElementById('sound1').play();"> <style> {padding: 0px;} </style>GAMESTONK MOTTO</button>

        <script type = text/javascript src="http://127.0.0.1:8080/node_modules/p5/lib/p5.js"></script>
        <script type = text/javascript src="http://127.0.0.1:8080/canvas.js"></script>
    </div>
</div>
</body>
</html>

