<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Spencer Wallace - 007463307</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
<div>
    <ul>
        <li> <a href = "/Home"> Home </a></li>
        <li> <a href="/About">About</a> </li>
        <li> <a href="/Log In">Log In</a> </li>
    </ul>     
    <style> button {
            background-color: #4CAF50; /* Green */
            border: aqua;
            border-width: 5px;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }</style>
    <audio id="sound1" src="https://www.myinstants.com/media/sounds/bonk_BEtiM8g.mp3" preload="auto"></audio>
    <button onclick="document.getElementById('sound1').play();"> <style> {alignment: center} </style>Click for bonk </button>
    <script type = text/javascript src="http://127.0.0.1:8080/navbar.js"></script>
    <script type = text/javascript src="http://127.0.0.1:8080/node_modules/p5/lib/p5.js"></script>
    <script type = text/javascript src="http://127.0.0.1:8080/views/canvas.js"></script>
</div>
</body>
</html>

